.about {
  margin-top: 27px;
  font-family: @font;
  font-weight: 700;
  color: @black;

  @media @tablet-width {
    margin-top: 46px;
  }

  @media @desktop-width {
    margin-top: 64px;
    margin-left: 170px;
  }
}

.about__title {
  .no-indent;
  font-size: 25px;
  line-height: 30px;

  @media @tablet-width {
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop-width {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  .no-ulstyle;
  margin-top: 5px;

  @media @tablet-width {
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 83px;

  @media @tablet-width {
    width: 45%;
    padding-top: 110px;
    font-size: 20px;
    line-height: 22px;
  }

  @media @desktop-width {
    width: 34%;
  }

  &:nth-of-type(n + 4) {
    @media @tablet-width {
      margin-left: 35px;
    }

    @media @desktop-width {
      margin-left: 55px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 27px;
    left: 0;

    @media @tablet-width {
      top: 60px;
    }
  }

  &--second {
    @media @tablet-width {
      order: 3;
    }
  }

  &--third {
    @media @tablet-width {
      order: 5;
    }
  }

  &--fourth {
    @media @tablet-width {
      order: 2;
    }
  }

  &--fifth {
    @media @tablet-width {
      order: 4;
    }
  }

  &--sixth {
    @media @tablet-width {
      order: 6;
    }
  }

  &--first::before {
    width: 32px;
    height: 37px;
    background-image: url("../img/feature-flower-icon.svg");
  }

  &--second::before {
    width: 47px;
    height: 28px;
    background-image: url("../img/feature-money-icon.svg");
  }

  &--third::before {
    width: 34px;
    height: 28px;
    background-image: url("../img/feature-heart-icon.svg");
  }

  &--fourth::before {
    width: 35px;
    height: 35px;
    background-image: url("../img/feature-ball-icon.svg");
  }

  &--fifth::before {
    width: 55px;
    height: 24px;
    background-image: url("../img/feature-rocket-icon.svg");
  }

  &--sixth::before {
    width: 33px;
    height: 33px;
    background-image: url("../img/feature-gift-icon.svg");
  }
}
