.about {
  .wrapper;
  margin-top: 35px;
  font-family: @font;
  font-weight: 700;
  color: @black;
}

.about__contain {
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    flex-direction: row;
    justify-content: space-between;
  }

  @media @desktop-width {
    width: 700px;
    margin: 0 auto;
  }
}

.about__title {
  .no-indent;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  .no-ulstyle;

  &--second {
    @media @tablet-width {
      margin-left: 70px;
    }
  }
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  padding-top: 80px;
}
