.button {
  .no-linkstyle;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid @gray-dark;
  font-family: @font;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: @gray-dark;
    color: @white;
  }

  &:active {
    color: #787878;
  }
}
