.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 5px;

  @media @tablet-width {
    padding-top: 58px;
  }

  @media @desktop-width {
    padding-top: 108px;
  }
}

.catalog__contain {
  width: 260px;
  margin-top: -9px;
  align-self: center;
  border: 1px solid @gray;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media @tablet-width {
    margin-top: 0;
    width: 50%;
  }

  @media @desktop-width {
    margin-top: -9px;
    padding-top: 9px;
    width: auto;
    align-self: stretch;
  }
}

.catalog__contain-item {
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 23px;
  border-top: 1px solid @gray;

  @media @desktop-width {
    padding-top: 23px;
  }

  &--top {
    padding-top: 19px;
    padding-bottom: 18px;
    flex-direction: column;
    justify-content: flex-start;
    border: none;

    @media @tablet-width {
      padding-top: 25px;
      min-height: 259px;
      box-sizing: border-box;
    }

    @media @desktop-width {
      padding-top: 15px;
      padding-bottom: 10px;
      min-height: 112px;
    }
  }
}

.catalog__list {
  .no-ulstyle;

  @media @desktop-width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media @tablet-width {
    flex-direction: row;
    margin-bottom: 52px;
  }

  @media @desktop-width {
    display: flex;
    flex-direction: column;
    width: 316px;
    margin-right: 48px;
  }

  &:nth-of-type(3n) {
    @media @desktop-width {
      margin-right: 0;
    }
  }
}

.catalog__link {
  align-self: center;

  @media @tablet-width {
    height: 334px;
  }

  @media @desktop-width {
    height: auto;
  }
}

.catalog__link-title {
  .no-linkstyle;
  color: @black;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media @tablet-width {
    text-align: left;
  }
}

.catalog__title {
  .no-indent;
  font-size: 17px;
  line-height: 24px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__description {
  .no-indent;
  margin-top: 5px;
  font-size: 13px;
  line-height: 30px;

  @media @tablet-width {
    font-size: 15px;
    line-height: 30px;
  }
}

.catalog__price {
  .no-indent;
  color: @black;
  font-family: @font;
  font-weight: 700;
  line-height: 24px;

  @media @tablet-width {
    font-size: 17px;
    line-height: 24px;
  }
}

.catalog__basket {
  display: block;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}
