.contacts {
  margin-top: 40px;
  padding-bottom: 39px;

  &__title {
    .no-indent;
    color: @black;
    font-family: @font700;
    font-size: 18px;
    line-height: 30px;
  }

  &__table {
    border-collapse: collapse;

    & td {
      text-align: left;
      line-height: 30px;
    }
  }

  &__column1 {
    width: 25%;
  }

  &__emale {
    .no-linkstyle;
  }

  &__address {
    font-style: normal;
  }

  &__map {
    margin-top: 40px;
    width: 322px;
    height: 457px;
  }

  &__button {
    margin-top: 39px;
  }
}
