.copyright {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  padding-bottom: 25px;

  @media @tablet-width {
    .no-indent;
  }
}

.copyright__text {
  color: @black;
  font-family: @font;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;

  @media @tablet-width {
    margin-right: 30px;
  }
}

.copyright__link path {
  fill: @aqua;
}
