.field {
  .no-indent;
  border: none;

  @media @tablet-width {
    margin-top: 75px;
  }

  @media @desktop-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
  }

  &--color {
    @media @tablet-width {
      margin-top: 65px;
    }

    @media @desktop-width {
      max-width: 1150px;
    }
  }

  &--fio {
    @media @tablet-width {
      margin-top: 69px;
    }
  }

  &--data {
    position: relative;
    margin-top: 5px;
    border-top: 1px solid @aqua; // для полоски сверху

    @media @tablet-width {
      margin-top: 66px;
      margin-bottom: 0;
      border: none;
    }
  }

  &--add {
    margin-top: 32px;

    @media @tablet-width {
      margin-top: 64px;
    }
  }

  &--email {
    margin-top: 35px;

    @media @tablet-width {
      margin-top: 39px;
    }
  }
}

.field__icon {
  position: absolute;
  top: 27px;
  right: 8px;
  opacity: 0.2;

  @media @tablet-width {
    top: -10px;
    right: 21px;
  }

  @media @desktop-width {
    right: 185px;
  }
}

.field__legend {
  padding-bottom: 30px;
  color: @aqua;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  margin-bottom: -40px; // полоска сверху
  position: relative; // для полоски сверху
  width: 60px; // для полоски сверху
  background: @white; // для полоски сверху

  @media @tablet-width {
    .no-indent;
    background: transparent;
    margin-bottom: -17px;
  }

  @media @desktop-width {
    margin-left: 65px;
  }

  &--topline {
    .no-indent;
    position: relative;
    margin-top: -5px;

    @media @tablet-width {
      .no-indent;
      margin-bottom: -24px;
      width: 15%;
    }

    @media @desktop-width {
      margin-left: 65px;
    }
  }
}

.field__list {
  .no-ulstyle;
  border-top: 1px solid @aqua; // полоска сверху
  padding-top: 43px; // для полоски сверху

  @media @tablet-width {
    .no-indent;
    margin-left: 25%;
    border: none;
  }

  @media @desktop-width {
    margin-left: 178px;
  }

  &--flex {
    @media @tablet-width {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-left: 23%;
    }

    @media @desktop-width {
      justify-content: flex-start;
      margin-left: 176px;
    }
  }

  &--fio {
    padding-top: 37px;

    @media @tablet-width {
      padding-top: 0;
    }
  }
}

.field__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  padding-left: 62px;
  box-sizing: content-box;

  @media @tablet-width {
    padding-bottom: 57px;
    padding-left: 82px;
  }

  @media @desktop-width {
    flex-direction: row;
  }

  &--flex {
    padding-bottom: 43px;

    @media @tablet-width {
      padding-bottom: 57px;
      padding-left: 75px;
      min-width: 150px;
    }

    @media @desktop-width {
      padding-left: 80px;
      min-width: 183px;
    }
  }

  &--fio {
    padding-left: 0;

    @media @tablet-width {
      flex-direction: row;
      padding-bottom: 42px;
    }
  }
}

.field__label {
  color: @black;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  order: -1;

  @media @tablet-width {
    font-size: 19px;
  }

  &--fio {
    @media @tablet-width {
      padding-right: 25px;
    }
  }
}

.field__area {
  .wrapper;
  width: 84.8%;
  margin-top: 26px;
  padding: 18px;
  border: 2px solid #444444;
  box-shadow: none;
  box-sizing: content-box;

  &:hover,
  &:focus {
    border: 2px solid @aqua-line;
    outline: transparent;
  }

  @media @tablet-width {
    max-width: 700px;
    width: 64.4%;
    margin-top: -7px;
    margin-bottom: 32px;
    margin-left: 25%;
    padding-top: 17px;
    padding-bottom: 21px;
    padding-left: 18px;
  }

  @media @desktop-width {
    margin-left: 16.5%;
    margin-bottom: 33px;
    width: 60%;
  }

  &::-webkit-input-placeholder {
    .placeholder-style;
  }
}

.field__data {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 21px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 @aqua-line;
    outline: transparent;
  }

  &:hover + svg,
  &:focus + svg {
    fill: @aqua-line;
    opacity: 1;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
    outline: transparent;
  }

  @media @tablet-width {
    width: 72.5%;
    margin-left: 25%;
    padding-top: 0;
    padding-bottom: 21px;
    padding-left: 18px;
    background-color: @gray-light;
  }

  @media @desktop-width {
    margin-left: 177px;
    width: 65%;
  }

  &::-webkit-input-placeholder {
    .placeholder-style;
  }

  &[type="email"] {
    @media @tablet-width {
      margin-bottom: 50px;
    }
  }
}

.field__input {
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  padding-top: 17px;
  padding-bottom: 17px;

  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
    outline: transparent;
  }

  @media @tablet-width {
    padding-left: 18px;
  }

  &::-webkit-input-placeholder {
    .placeholder-style;
  }

  &--fio {
    @media @tablet-width {
      padding-top: 0;
      width: 100%;
    }

    @media @desktop-width {
      margin-right: 173px;
    }
  }

  &--circle + label::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid @gray-dark;
    border-radius: 50%;
    background-color: @white;

    @media @tablet-width {
      top: -15px;
      width: 47px;
      height: 47px;
    }
  }

  &--circle:hover + label::before,
  &--square:hover + label::before {
    border: 2px solid @aqua-line;
  }

  &--circle:active + label::before,
  &--square:active + label::before {
    opacity: 0.3;
  }

  &--circle:checked + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: @aqua-line;
    border-radius: 50%;

    @media @tablet-width {
      top: -1px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  &--square + label::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid @gray-dark;
    background-color: @white;

    @media @tablet-width {
      width: 48px;
      height: 48px;
      background-color: transparent;
    }

    @media @desktop-width {
      top: -16px;
    }
  }

  &--square:checked + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 9px;
    width: 21px;
    height: 8px;
    border-radius: 0;
    border-left: 2px solid @black;
    border-bottom: 2px solid @black;
    background-color: transparent;
    transform: rotate(-45deg);

    @media @tablet-width {
      top: 5px;
      left: 12px;
      width: 26px;
      height: 13px;
    }

    @media @desktop-width {
      top: 0;
    }
  }
}
