.form {
  padding-bottom: 20px;

  @media @tablet-width {
    padding-bottom: 12px;
  }
}

.form-contain {
  .wrapper;

  @media @tablet-width {
    margin-bottom: 10px;
  }

  &--gray {
    @media @tablet-width {
      margin-bottom: 20px;
      padding-bottom: 14px;
      max-width: none;
      background-color: @gray-light;
      border-top: 1px solid transparent; //чтобы не схлоппывались маргины
    }

    @media @desktop-width {
      padding-bottom: 12px;
    }
  }

  &--last-gray {
    @media @tablet-width {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &--bottom {
    display: flex;
    flex-direction: column;

    @media @tablet-width {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @media @desktop-width {
      margin-left: 175px;
    }
  }
}

.form__text {
  .no-indent;
  padding-bottom: 23px;
  font-size: 13px;
  line-height: 24px;

  @media @tablet-width {
    .no-indent;
    margin-top: 76px;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop-width {
    margin-top: 126px;
    margin-left: 175px;
    margin-right: 193px;
  }

  &--bottom {
    margin-top: 8px;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 16px;

    @media @tablet-width {
      font-size: 17px;
      line-height: 30px;
    }

    @media @desktop-width {
      margin-top: 0;
      margin-left: 0;
      margin-right: 175px;
    }
  }
}

.form__button {
  margin-top: 30px;
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 16px;
  background-color: transparent;

  @media @tablet-width {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media @desktop-width {
    margin-top: -6px;
    margin-bottom: 30px;
  }
}
