.main-nav {
  width: 100%;
}

.main-nav__list {
  .no-ulstyle;
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -95px;
  }

  @media @desktop-width {
    margin-top: -92px;
  }
}

.main-nav__item {
  position: relative;
  border-top: 1px solid @gray-light;
  cursor: pointer;

  @media @tablet-width {
    border: none;
    border-left: 1px solid @gray-light;
    border-right: 1px solid @gray-light;
  }

  & svg {
    @media @tablet-width {
      box-sizing: content-box; //гребаный IE11
      padding-top: 7px;
    }
  }

  &:nth-of-type(n+5) {
    display: none;

    @media @desktop-width {
      display: block;
      border: none;
      z-index: 3;
    }
  }

  &--first {

    //Каталог товаров
    @media @tablet-width {
      border: none;
      z-index: 3;
    }
  }

  &--second {

    //Вязание на заказ
    @media @tablet-width {
      border: none;
      z-index: 3;
    }

    @media @desktop-width {
      border-left: 1px solid @gray-light;
      border-right: 1px solid @gray-light;
    }
  }

  &--third {

    //поиск по сайту
    @media @tablet-width {
      margin-left: calc(100% - 349px);
      order: -2;
    }

    @media @desktop-width {
      margin-left: calc(100% - 758px);
      order: 0;
    }
  }

  &--fourth {

    //корзина
    @media @tablet-width {
      order: -1;
      border: none;
    }

    @media @desktop-width {
      order: 0;
    }
  }

  &--search:hover svg {
    opacity: 1;
    fill: @aqua;
  }

  &--search:active svg {
    opacity: 0.3;
  }
}

.main-nav a {
  .no-linkstyle;
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 23%;
  font-family: @font;
  font-weight: 700;
  color: @black;
  font-size: 17px;
  line-height: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover svg {
    opacity: 1;
    fill: @aqua;
  }

  @media @tablet-width {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 38px;
    padding-bottom: 35px;
    font-size: 15px;
  }

  @media @desktop-width {
    padding-top: 32px;
    padding-left: 33px;
    padding-right: 34px;
  }
}

a.main-nav__basket-link {
  @media @tablet-width {
    padding-left: 82px;
    padding-right: 0;
    font-size: 17px;
  }

  @media @desktop-width {
    padding-left: 82px;
  }
}

a.main-nav__catalog-link {
  @media @tablet-width {
    padding-top: 17px;
  }

  @media @desktop-width {
    padding-top: 32px;
    font-size: 17px;
  }
}

.main-nav__item--first a,
.main-nav__item--fifth a {
  @media @tablet-width {
    padding-left: 0;
  }
}

.main-nav__item--fifth a,
.main-nav__item--sixth a {
  @media @desktop-width {
    padding-top: 15px;
  }
}

.main-nav__search {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 23%;
  font-family: @font;
  font-weight: 700;
  color: @black;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;

  @media @tablet-width {
    font-size: 0;
    padding: 0;
    width: 82px;
    background-color: transparent;
  }

  & svg {
    position: absolute;
    content: "";
    width: 17.6px;
    height: 17.6px;
    top: 35px;
    left: 32px;
    opacity: 0.2;

    @media @desktop-width {
      padding: 0;
    }
  }
}

.main-nav__input-search {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 30px;
  overflow: hidden;
}

.main-nav__basket-icon {
  position: absolute;
  content: "";
  width: 21px;
  height: 18px;
  opacity: 0.2;
  top: 35px;
  left: 32px;

  @media @tablet-width {
    right: 453px;
  }

  @media @desktop-width {
    top: 29px;
  }
}

.main-nav__toggle {
  .no-indent;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  cursor: pointer;
  background: none;
  border: none;

  @media @tablet-width {
    display: none;
  }
}

//меню открыто
.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-menu-close.svg");
}

//меню закрыто
.main-nav--closed .main-nav__toggle {
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
}

//открытие и закрытие меню
@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}
