.page-footer {
  padding-top: 30px;
  background-color: @gray-light;
  color: @black;
  font-family: @font700;
  font-size: 19px;
  line-height: 18px;

  &__social {
    padding-bottom: 30px;
    border-bottom: 1px solid @gray;
  }

  &__copyright {
    margin-top: 25px;
    padding-bottom: 25px;
  }
}
