.page-header {
  //height: 884px; // для сетки
  display: flex;
  flex-direction: column;
}

.page-header__contain-logo {
  background-color: @white;
}

.page-header__title {
  .no-indent;
  .wrapper;
  color: #010000;
  font-family: @font;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  vertical-align: middle;
  order: 1;

  &--catalog {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: @gray-light;

    @media @tablet-width {
      padding-top: 100px;
    }

    @media @desktop-width {
      width: 100%;
      padding-bottom: 100px;
    }
  }
}

.page-header__text {
  display: none;

  @media @tablet-width {
    display: inline-block;
    margin-left: auto;
  }
}
