.page-main {
  margin-top: 30px;
  font-family: @font;
  font-weight: 400;
  font-size: 15px;
}

.page-main__wrapper {
  .wrapper;

  &--product-week {
    border-bottom: 2px solid @gray-light;
  }

  &--reviews {
    border-bottom: 2px solid @gray-light;
  }
}
