.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 24px;
  }

  &--catalog {
    &::after {
      display: none;

      @media @tablet-width {
        display: block;
      }
    }
  }
}

.page-header__wrapper {
  .wrapper;

  &--nav {
    padding: 0;

    @media @tablet-width {
      .wrapper;
    }
  }

  &--text {
    display: none;

    @media @tablet-width {
      display: flex;
      margin-top: -62px;
      z-index: 1;
    }

    @media @desktop-width {
      display: block;
    }
  }
}

.page-header__contain-logo {
  background-color: @white;
}

.page-header__title {
  .no-indent;
  display: block;
  padding-top: 71px;
  padding-left: 30px;
  padding-right: 30px;
  height: 280px;
  color: #010000;
  font-family: @font;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  order: 1;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid @gray-light;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media @tablet-width {
    height: 592px;
    margin-top: -46px;
    padding-top: 154px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media @desktop-width {
    margin-top: -43px;
    padding-top: 153px;
    padding-left: 266px;
    padding-right: 266px;
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/hero-desktop@1x.jpg");
    border-top: 1px solid @gray-light;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  &--catalog {
    height: auto;
    padding-top: 70px;
    padding-bottom: 75px;
    background-color: @gray-light;
    background-image: none;

    @media @tablet-width {
      padding-top: 96px;
    }

    @media @desktop-width {
      padding-top: 91px;
      padding-bottom: 100px;
    }
  }
}

.page-header__text {
  @media @tablet-width {
    margin-left: auto;
  }

  @media @desktop-width {
    margin: 0;
    margin-left: 815px;
  }
}
