.product-week {
  margin-top: 60px;
  padding-bottom: 73px;
}

.product-week__contain {
  display: flex;
  flex-direction: column;

  &--first {
    @media @tablet-width {
      flex-direction: row;
      margin-bottom: 55px;
    }


    @media @desktop-width {
      margin-top: 110px;
    }
  }

  &--second {
    @media @tablet-width {
      max-height: 550px;
      flex-wrap: wrap;
    }

    @media @desktop-width {
      margin-left: 175px;
      max-height: 650px;
    }
  }
}

.product-week__title {
  .no-indent;
  order: 1;
  text-transform: uppercase;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  color: @aqua;

  @media @tablet-width {
    align-self: center;
    margin-right: 30px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media @desktop-width {
    order: 0;
    margin-right: 0;
    margin-left: 40px;
  }
}

.product-week__name {
  .no-indent;
  font-family: @font;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;

  @media @tablet-width {
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop-width {
    margin-left: 30px;
    font-size: 53px;
    line-height: 57px;
  }
}

.product-week__text {
  .no-indent;
  margin-top: 30px;
  line-height: 24px;

  @media @tablet-width {
    margin-top: 0;
    width: 43%;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop-width {
    width: 33%;
  }
}

.product-week__properties {
  .no-indent;
  margin-top: 30px;
  line-height: 20px;
  border-collapse: collapse;

  @media @tablet-width {
    margin-top: 34px;
    width: 43%;
  }

  @media @desktop-width {
    width: 33%;
    margin-top: 60px;
  }
}

.product-week__properties td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray;
}

.product-week__img {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @media @tablet-width {
    width: 333px;
    height: 404px;
  }

  @media @desktop-width {
    .no-indent;
    margin-top: -160px;
    margin-left: 50px;
    width: 525px;
    height: 636px;
    z-index: -1;
  }
}

.product-week__price {
  display: block;
  margin-top: 30px;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  order: 1;
  text-align: center;

  @media @tablet-width {
    margin-top: 50px;
    order: 0;
    width: 43%;
    font-size: 20px;
  }

  @media @desktop-width {
    width: 33%;
    margin-top: 95px;
  }
}

.product-week__button {
  margin-top: 30px;
  font-size: 17px;
  line-height: 20px;
  order: 1;

  @media @tablet-width {
    order: 0;
    width: 43%;
  }

  @media @desktop-width {
    width: 33%;
  }
}
