.product-week {
  padding-bottom: 40px;

  @media @tablet-width {
    padding-bottom: 70px;
  }

  @media @desktop-width {
    padding-bottom: 90px;
  }
}

.product-week__contain {
  display: flex;
  flex-direction: column;

  &--first {
    @media @tablet-width {
      flex-direction: row;
      margin-bottom: 49px;
    }

    @media @desktop-width {
      margin-top: 110px;
    }
  }

  &--second {
    @media @tablet-width {
      position: relative;
    }

    @media @desktop-width {
      margin-left: 175px;
    }
  }
}

.product-week__title {
  .no-indent;
  text-transform: uppercase;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  color: @aqua;
  order: 1;

  @media @tablet-width {
    align-self: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 15px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media @desktop-width {
    order: 0;
    margin-left: 34px;
    margin-right: 0;
  }
}

.product-week__name {
  .no-indent;
  font-family: @font;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;

  @media @tablet-width {
    margin-top: 20px;
    font-size: 43px;
    line-height: 50px;
  }

  @media @desktop-width {
    margin-top: 11px;
    margin-left: 36px;
    font-size: 53px;
    line-height: 57px;
  }
}

.product-week__text {
  .no-indent;
  margin-top: 18px;
  line-height: 24px;

  @media @tablet-width {
    margin-top: 0;
    width: 43%;
    font-size: 17px;
    line-height: 30px;
  }

  @media @desktop-width {
    width: 33%;
  }
}

.product-week__properties {
  .no-indent;
  margin-top: 16px;
  line-height: 20px;
  border-collapse: collapse;

  @media @tablet-width {
    margin-top: 34px;
    width: 43%;
  }

  @media @desktop-width {
    width: 33%;
    margin-top: 60px;
  }
}

.product-week__properties td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray;

  @media @desktop-width {
    padding-top: 0;
    padding-bottom: 17px;
  }

  &:nth-of-type(2) {
    padding-left: 18px;

    @media @tablet-width {
      padding-left: 0;
    }
  }
}

.product-week picture {
  margin-top: 30px;
  text-align: center;

  @media @tablet-width {
    position: absolute;
    top: -22px;
    right: 0;
    width: 333px;
    height: 404px;
  }

  @media @desktop-width {
    .no-indent;
    top: -152px;
    right: 0;
    width: 525px;
    height: 636px;
    z-index: -1;
  }
}

.product-week__price {
  display: block;
  margin-top: 13px;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  order: 1;
  text-align: center;

  @media @tablet-width {
    margin-top: 54px;
    order: 0;
    width: 43%;
    font-size: 20px;
  }

  @media @desktop-width {
    width: 33%;
    margin-top: 106px;
  }
}

.product-week__button {
  margin-top: 25px;
  font-size: 17px;
  line-height: 20px;
  order: 1;

  @media @tablet-width {
    margin-top: 33px;
    width: 43%;
    order: 0;
  }

  @media @desktop-width {
    width: 33%;
  }
}
