.reviews {
  margin-top: 60px;
  padding-bottom: 36px;
  border-bottom: 1px solid @gray-light;

  &__title {
    .no-indent;
    color: @black;
    font-family: @font700;
    font-size: 25px;
    line-height: 30px;
  }

  &__item {
    .no-indent;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 30px;
  }

  &__author-name {
    margin-bottom: 35px;
    font-family: @font700;
    font-style: normal;
    font-size: 17px;
    color: @black;
    line-height: 24px;
  }

  &__author-address {
    margin-top: 10px;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
  }

  &__cursor {
    display: inline-block;
    width: 130px;
    height: 52px;
    background-image: url("http://placehold.it/130x52");
  }

  &__button {
    margin-top: 38px;
  }
}
