.site-nav {
  &__list {
    .no-ulstyle;
  }

  &__item {
    .wrapper;
    background-color: @aqua;

    &--second {
      background-color: @aqua-dark;
    }
  }

  &__link {
    .no-linkstyle;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: @font700;
    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
  }
}
