.social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid @gray;

  @media @tablet-width {
    .no-indent;
    margin-left: 100px;
  }
}

.social__list {
  .no-ulstyle;
}

.social__item {
  display: inline-block;
  margin-left: 35px;

  &:first-of-type {
    margin: 0;
  }
}
