.social {
  display: flex;
  justify-content: center;
}

.social__list {
  .no-ulstyle;
}

.social__item {
  display: inline-block;
  margin-left: 35px;
  width: 35px;
  height: 35px;
  background-image: url("http://placehold.it/35x35");
}
