.video {
  border: 1px solid #ececec;
  padding-bottom: 33px;
  margin-bottom: 58px;

  &__contain {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }

  &__title {
    .no-indent;
    color: @black;
    font-family: @font700;
    font-size: 17px;
    line-height: 24px;
  }

  &__text {
    .no-indent;
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
    font-size: 13px;
    line-height: 24px;
  }

  &__button {
    margin-top: 30px;
    margin-left: 34px;
    margin-right: 34px;
  }
}
