.video {
  .wrapper;
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
  margin-bottom: 58px;

  @media @tablet-width {
    margin-top: 50px;
  }

  @media @desktop-width {
    height: 450px;
    flex-wrap: wrap;
  }
}

.video__contain {
  border: 1px solid @gray;
  padding-top: 34px;
  padding-left: 34px;
  padding-right: 34px;

  @media @tablet-width {
    border-top: none;
  }

  @media @desktop-width {
    width: 30%;
    border: none;
    margin-top: auto;
    padding-left: 60px;
  }
}

.video__title {
  .no-indent;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 90px;
  color: @black;
  font-family: @font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid @gray;

  @media @tablet-width {
    font-size: 20px;
    line-height: 24px;
    border-bottom: none;
  }

  @media @desktop-width {
    margin-top: 100px;
    padding-bottom: 0;
    width: 15%;
    border: none;
  }
}

.video__text {
  .no-indent;
  font-size: 13px;
  line-height: 24px;
}

.video__frame {
  .no-indent;

  @media @tablet-width {
    width: 668px; //для сетки
    height: 455px; //для сетки
    order: -1;
  }
}

.video__button {
  margin-top: 30px;
  margin-bottom: 30px;

  @media @desktop-width {
    margin-bottom: 60px;
    border: none;
  }
}
