//убрать стили у списков
.no-ulstyle() {
  list-style: none;
  margin: 0;
  padding: 0;
}

//убрать стили у ссылок
.no-linkstyle() {
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

//убрать отступы
.no-indent() {
  margin: 0;
  padding: 0;
}

//центровщик
.wrapper() {
  padding-left: 30px;
  padding-right: 30px;

  @media @tablet-width {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media @desktop-width {
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}

//стиль placeholder-а
.placeholder-style() {
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;

  @media @tablet-width {
    font-size: 19px;
    line-height: 18px;
  }
}

/*
box-shadow: inset 2px 2px 5px rgba(252, 50, 0, 0.774),
    inset -2px -2px 5px rgba(252, 50, 0, 0.774); //временно!!!!!!!!!!!!
*/
