@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";

@font: "Open Sans" ,"Arial", sans-serif;

@white: #ffffff;
@black: #000000;
@gray: #ececec;
@gray-light: #f1f1f1;
@gray-dark: #444444;
@aqua: #63d1bb;
@aqua-dark: #56c3b2;
